Package: com.memopot.decache
Name: decache
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: jcyangzh
Author: jcyangzh
Section: System
Tag: role::hacker
